.modalContainer {
    text-align: center;
  }

  .modal-header{
    display: flex;
    justify-content: space-between;
  }
  
  .modal-title {
    margin-bottom: 5px;
  }
  
  .size-amount .modal-subtitle {
    margin-bottom: 3px;
  }

  .size-amount .modal-subtitle span {
    font-size: small;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 3px;
  }
  
  .modal-body {
    max-height: 400px;
    overflow-y: auto;
  }
  
  .cups {
    display: flex;
    flex-direction: column;
  }
  
  .cup {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .selected {
    border: 2px solid #007bff; /* Blue border */
    background-color: rgba(0, 123, 255, 0.1); /* Light blue background */
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5); /* Optional: shadow effect */
    border-radius: 10px;
  }
  
  .money-value {
    display: flex;
    flex-direction: column;
  }
  
  .table-header,
  .table-row {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .table-header {
    font-weight: bold;
  }
  
  .table-cell {
    flex: 1;
    text-align: center;
  }
  
  .total {
    flex: 1;
    text-align: left;
    display: flex;
    align-items: center;
  }
  
  .fa-shopping-cart {
    margin-right: 10px;
  }

  .modal-header .fa-shopping-cart{
    cursor: pointer;
  }
  .modal-header .header-title{
    display: grid;
    width: 100%;
    grid-template-rows: auto auto;
  }

  .modal-header .header-title .header-title-text{
    display: flex;
  }

  .modal-body{
    max-height: 55vh;
  }
  
  .table-row span{
    font-family: Tahoma, Geneva, Verdana, sans-serif;
  }
  .cart-container {
    position: relative;
  }
  
  .cart-counter {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: #0DFF31;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    margin-top: 10px;
    font-size: 12px;
  }
  

  @media (max-width: 410px){
    div[class="table-cell"]{
      display: flex;
    }
    .modal-title{
      font-size: 1.2rem;
    }
  }