.navbar {
  background-color: white;
  padding: 0px;
  background-color: #71058c;
  display: flex;
  justify-content: space-between;
}
.networksIcons {
  display: flex;
  align-items: center;
}

.networksIcons img {
  cursor: pointer;
}

.logoDiv img {
  width: 6em;
}
img {
  margin: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
