.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Adjusts spacing between items */
    margin-top: 30px;
    padding: 0 20px; /* Added padding to align with previous layout */
    color: black;
  }
  
  .sideDishInfo {
    display: flex;
    justify-content: space-between;
    width: 48%; /* Adjust width for two columns */
    margin-bottom: 20px; /* Space between rows */
  }
  
  .sideDishInfo p {
    font-size: 1.2rem;
  }
  
  .sideDishes-placeAnOrder-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .sideDishes-placeAnOrder-button button:hover {
    background-color: rgba(111, 5, 138, 0.8);
  }
  
  @media (max-width: 548px) {
    .sideDishInfo {
      width: 100%; /* Stack items in one column on small screens */
    }
  }